<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monthly_Expense.Properties.Settings.monthly_expenseConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=Supayan@020109;database=monthly_expense"
            providerName="MySql.Data.MySqlClient" />
        <add name="Monthly_Expense.Properties.Settings.monthly_expensesConnectionString"
            connectionString="server=127.0.0.1;user id=Rocky;persistsecurityinfo=True;database=monthly_expenses"
            providerName="MySql.Data.MySqlClient" />
        <add name="Monthly_Expense.Properties.Settings.monthly_expensesConnectionString1"
            connectionString="server=127.0.0.1;user id=Rocky;password=Supayan@020109;persistsecurityinfo=True;database=monthly_expenses"
            providerName="MySql.Data.MySqlClient" />
        <add name="Monthly_Expense.Properties.Settings.monthly_expensesConnectionString2"
            connectionString="server=127.0.0.1;user id=Rocky;database=monthly_expenses;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>